*.pt
*.txt
*.png
*.pdf
__pycache__/
build/
_build/
.vscode/
vbi.egg-info/
html/
latex/

.ipynb_checkpoints/
vms.egg-info/

sbi-logs/
vms/sl_sdde.py
_e/

*_wrap.cpp
*_wrap.cxx
*.o
*.dat
*.so
*.npz
*.bin
*.sh
*.gz
*.pickle
*.jpeg
.DS_Store
.editorconfig
*.mat
*.csv
*.json
tt.ipynb
